USE [master]
GO
/****** Object:  Database [BaseConocimiento]    Script Date: 30/05/2017 11:47:15 a. m. ******/
CREATE DATABASE [BaseConocimiento]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseConocimiento', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BaseConocimiento.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseConocimiento_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\BaseConocimiento_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseConocimiento].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseConocimiento]
GO
USE [BaseConocimiento]
GO
/****** Object:  Table [dbo].[acumulador]    Script Date: 30/05/2017 11:47:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acumulador](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[palabra] [numeric](18, 0) NOT NULL,
	[acumulador] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[baseconocimiento]    Script Date: 30/05/2017 11:47:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baseconocimiento](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[palabra] [nchar](10) NULL,
	[peso] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[palabras]    Script Date: 30/05/2017 11:47:15 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[palabras](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[palabra] [nchar](10) NULL
) ON [PRIMARY]

GO
USE [master]
GO
